@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h2,
h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    //font-family: 'font-m-plus', sans-serif;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 100;
}

.svg-inverse {
    filter: invert(1);
}

.text-primary-dark {
    color: $primary-dark !important;
}

.text-primary-ligth {
    color: $primary-ligth !important;
}

.text-parrafo {
    font-size: 1.5rem;
}

.loader-container {
    width: 100%;
    height: 100vh;
    background-color: #343A40;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1032;
    .loader {
        width: 50px;
        height: 50px;
        border: 5px solid;
        color: #212529;
        border-radius: 50%;
        border-top-color: transparent;
        animation: loader 1.2s linear infinite;
    }
}

@keyframes loader {
    25% {
        color: #212529;
    }
    50% {
        color: #ffffff;
    }
    75% {
        color: #333333;
    }
    to {
        transform: rotate(360deg);
    }
}

.fullHeight {
    height: calc(100vh - 365px);
}

.navbar-dark {
    .navbar-toggler {
        border: none;
    }
}

#home {
    background-color: #000;
    .background-mision {
        background-image: radial-gradient(circle farthest-corner at 100% 0%, rgba(71, 117, 112, 0.49), rgba(49, 112, 126, 0.94)), url("/images/index/fondo-mision.jpg");
    }
    .background-historia {
        background-image: radial-gradient(circle farthest-corner at 100% 0%, rgba(71, 117, 112, 0.205), rgba(168, 204, 212, 0.94)), url("images/index/historia.png");
        .color-historia {
            color: #212529;
        }
    }
    .background-clinica {
        background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(220, 244, 245, 1) 0%, rgba(243, 253, 255, 0.39539565826330536) 100%), url("images/index/foto-de-la-clinica.jpg");
        height: 30rem;
    }
    .background-banner {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        background-position: 0px 0px, 50% 50%;
    }
    .background-profesionales {
        background-image: url("../images/profesionales/banner-profesionales.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 0;
        margin-top: 70px;
    }
    .background-servicios {
        height: 230px;
        background-image: radial-gradient(circle farthest-corner at 100% 0%, rgba(58, 138, 139, 0), #00bbbe), url("../images/index/fondo-servicios.jpg");
        background-position: 0px 0px, 100% 50%;
        background-size: auto, cover;
        background-repeat: repeat, no-repeat;
        margin-top: 60px;
    }
    .background-contacto {
        background-image: url("/images/fondo-contacto.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 0;
        margin-top: 70px;
    }
    #banner {
        padding-top: 8rem;
        color: #fff;
        h1 {
            font-weight: 700;
            letter-spacing: .3rem;
        }
    }
}

#cuidado-bucal {
    background-image: url("images/index/cuidado-bucal.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    .row {
        height: 23rem;
        h2 {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-size: 2.3rem;
        }
    }
}

#historia {
    background-image: url("images/index/historia-sm.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 0 0;
    .row {
        height: 40rem;
    }
}

#conozcanos {
    background-image: url("images/index/conozcanos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    .list-group-item {
        background-color: transparent;
        border-color: $primary;
        a {
            color: #fff;
        }
    }
}

#servicios {
    background-color: #fff;
    background-image: url("images/index/servicios.jpg");
    background-position: 100% 100%;
    background-size: auto 80%;
    background-repeat: no-repeat;
    .list-group-item {
        background-color: transparent;
        border-color: $primary;
        max-width: 19rem;
        a {
            color: #212529;
        }
    }
}

footer {
    a:hover {
        text-decoration: none;
    }
}

#historia-lampara {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff, rgba(0, 240, 240, 0.56)), url("images/index/foto-de-lampara.jpg");
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, repeat;
}

#historia-reloj {
    background-color: #fff;
    background-image: radial-gradient(circle farthest-corner at 0% 0%, rgba(152, 218, 218, 0.64), #fff), url("images/index/fondo-de-reloj.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

#historia-tarjeta {
    background-image: linear-gradient(225deg, rgba(6, 207, 211, 0.64), #fff), url("images/index/fondo-de-tarjeta.jpg");
    background-position: 0px 0px, 80% 20%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.img-profesionales {
    width: 100%;
}

#formNavidad {
    transition: opacity 1s;
}

.regalo {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    .nombre-navidad {
        position: absolute;
        top: 49%;
        width: 95%;
        span {
            font-family: 'Pacifico', cursive;
            font-size: 1.5rem;
            color: #C12328 !important;
            text-transform: capitalize;
        }
    }
}

.fadeIn {
    visibility: visible;
    opacity: 1;
}

@media (max-width:786px) {
    #cuidado-bucal {
        background-image: url("images/index/cuidado-bucal-sm.png");
        h2 {
            font-size: 1.8rem !important;
        }
    }
    #servicios {
        background-image: url("images/index/servicios-sm.png");
    }
}

@media (max-width:425px) {
    .fullHeight {
        height: calc(100vh - 385px);
    }
    .text-parrafo {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    #historia {
        background-image: url("images/index/historia.png");
        .row {
            height: 23rem;
            .btpxn {
                width: 10rem;
                border-color: #212529;
                color: #212528;
            }
        }
    }
}